<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recetapp">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Recetapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registra las otras activities -->
        <activity android:name=".controller.UserActivity" />
        <activity android:name=".controller.MenuActivity" />
        <activity android:name=".controller.FavoritesActivity" />
        <activity android:name=".controller.DatosPrivadosActivity" />
        <activity android:name=".controller.RecetarioActivity" />
        <activity android:name=".controller.RecetaDetalleActivity" />

    </application>
</manifest>
